#carrera {
  background-color: #efefef;


  article{

    p {
      font-size: 14px;
      color: #4d4d4d;
      line-height: 24px;
      text-align: justify;
    }

    h2 {
      @include text-shadow(2px 1px #dbdbdb);
      font-size: 20px;
      font-weight: bold;
      color: #008245;
      padding-top: 5px;
      padding-bottom: 3px;
      }
  }

  hr {
    margin: 30px 0;
  }

  .info-panel {
     @include box-shadow(1px 1px 2px #D0D0D0);
     margin-bottom: 20px;

    .panel {
      padding-bottom: 30px;
      margin-bottom: 0.25em;
      background-color: white;
      min-height: auto !important;
      border: none;

      img {
        display: block;
        margin: 0 auto;
      }

      .description {
        padding-top: 20px;

        h1 {
          font-family: "Arial";
          font-size: 23px;
          font-weight: bold;
          font-style: italic;
          color: #ffffff;
          @include text-shadow(2px 1px 1px #606060);
        }

        h2 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-family: "Arial";
          font-size: 18px;
          font-weight: bold;
          color: #008245;
        }

        h3 {
          font-size: 14px;
          color: #808080; 
        }
      }

      &.panel-blue{
        background-color: #0054a5;
      }
      
    }

  }
}
