#quienes-somos {
  background-color: #efefef;

  article {
    p {
      font-size: 14px;
      color: #4d4d4d;
      text-align: justify;
    }

    &#historia {
      margin-top: 20px;
    }

    &#quienes {

    }
  }



  #info-panel-1 {
    position: relative;
    top: -25px;
    background-color: #ffffff;
    @include box-shadow(2px 2px 2px #D0D0D0);

    .panel-1 {
      margin: 10px auto 11px auto;
      padding: 10px 1px;
      max-width: 350px;
      @include min-height(318px);
      @include box-shadow(2px 2px 2px #D0D0D0);
      //background: #ecc95f url(../images/pattern-box-yellow-x.gif) repeat-x;

      img {
        display: block;
        margin: 0 auto;
      }

      h3 {
        font-weight: bold;
        color: #808080;
        font-size: 14px;
      }

      h2 {
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 4px;
        font-family: "Arial";
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        line-height: 30px;
        color: white;
        @include text-shadow(2px 2px gray);
      }

      p {
        font-size: 12px;
        margin: 0 20px 10px;
      }

      a {
        margin-left: 20px;
        padding-top: 9px;
      }
    }
  }

}
