@media #{$tablet}{
  #servicios {

    .columns {
    }

    .main {

      h2 {
        font-size: 17px;
      }

      .shadow {
        background: url(../images/servicios/shadow-tablet.png) no-repeat center;
        width: 233px;
        height: 10px;
      }
    }

    .secondary {

      .image {
        background: url(../images/servicios/services-tablet.png) no-repeat center;
        width: 238px;
        height: 161px;
      }

      .description {
        width: 125px;
      }
    }

  }
}