@media #{$small} {
  #servicios {

    .main {

      h2 {
        font-size: 20px;
      }

      p {
        line-height: 20px;
      }

      .shadow {
        background: url(../images/servicios/shadow.png) no-repeat center;
        width: 290px;
        height: 12px;
      }
    }

    .secondary {

      .image {
        background: url(../images/servicios/services.png) no-repeat center;
        width: 294px;
        height: 155px;
      }

      .description {
        // width: 149px;
        left: 48%;
      }
    }
  }
}