
<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="first">
        <a href="#">Servicio Alta Complejidad</a>
      </li>
      <li>
        <a href="#">Servicio Convencional</a>
      </li>
      <li>
        <a href="#">Nuclear</a>
      </li>
      <li>
        <a href="#">Nuestros Médicos</a>
      </li>
      <li>
        <a href="#">Nuestros Residentes</a>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="first">
        <a href="#">Certificaciones ISO</a>
      </li>
      <li>
        <a href="#">Pre-Inscripciones</a>
      </li>
      <li>
        <a href="#">Noticias</a>
      </li>
      <li>
        <a href="#">Nuclear</a>
      </li>
      <li>
        <a href="#">Contactanos</a>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <div class="hours">
      <p>
        Lunes a Viernes 8 a 20:30 hs.
        <br>
        Sábados 8 a 12 hs.
        <br>
        Emergencias las 24 hs.
      </p>
      <p>
        Muñescas 444,
        <br>
        San Miguel de Tucumán
        <br>
        Tucumán
      </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="copyright">
      <img id="logo" src=<%= asset_path("layout/logo-transparent.png")%> >
      <p>
       © 2013 Méndez Collado
       <br>
       Todos los derechos reservados
      </p>
    </div>
  </div>
</div>

<!-- <p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p> -->
