<div class="row">
  <div class="large-3 columns">
    <%= link_to Refinery::Core.site_name, refinery.root_path, :id => "logo"%>
  </div>
  <div class="large-9 columns">
    <div class="top-bar-phone">
      <div id="phone">
        <img src=<%= asset_path("layout/phone.png")%> alt="Teléfono">
        <p>
          <a href="tel:+54 381 421-7000">+54 (381) 421-7000</a>
          <br>
          <a href="tel:+54 381 430-2134">+54 (381) 430-2134</a>
        </p>
      </div>
    </div>
    <nav class="top-bar">
<!--       <section class="top-bar-section">
        <ul class="right">
          <li class="active">
            <a href="#"> Empresa </a>
          </li>
          <li class="divider"></li>
          <li> 
            <a href="servicios.html"> Servicios </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"> Carrera </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="staff.html"> Staff Médico </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"> Contacto </a>
          </li>
          <li class="divider"></li>
          <li id="mail">
            <a href="#"> Email </a>
          </li>
        </ul>
      </section> -->
      <section class="top-bar-section">
        <%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
           :css => 'menu'
         }) %>
      </section>
    </nav>
  </div>
</div>


<%#= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
