<!-- Articulos para cargar con el plugin Refinery-News -->

<!-- title: Certificamos ISO 9001:2000 -->
 <figure class="responsive" 
  data-media="http://mc-cms-production.s3.amazonaws.com/empresa/article1-small.jpg"
  data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/article1-medium.jpg"
  data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/article1-large.jpg" title="Servicios">
    <noscript>
      &amp;amp;amp;amp;amp;amp;amp;lt;img src="http://mc-cms-production.s3.amazonaws.com/empresa/article1-large.jpg" alt="Servicios"&amp;amp;amp;amp;amp;amp;amp;gt;
    </noscript>
</figure>
<p>El centro Radiológico Luis Méndez Collado obtuvo la Certificación</p>
<a href="#">VER MAS...</a>


<!-- title: Prevención del cancer de mama -->
<figure class="responsive" 
  data-media="http://mc-cms-production.s3.amazonaws.com/empresa/article2-small.jpg" 
  data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/article2-medium.jpg" 
  data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/article2-large.jpg" title="Servicios">
    <noscript>
      &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;img src="http://mc-cms-production.s3.amazonaws.com/empresa/article2-large.jpg" alt="Servicios"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
    </noscript>
</figure>
<p>El Sanatorio Rivadavia esta promoviendo su nuevo sitio en Internet</p>
<a href="#">VER MAS...</a>


<!-- title: Especialización en Diagnóstico -->
<p>El centro Radiológico Luis Méndez Collado celebra la transformación de su residencia en Carrera Universitaria</p>
<a href="#">VER MAS...</a>


<!-- title: Sociedad Argentina de Radiología -->
<p>Visite el sitio Web de la Sociedad Argentina de Radiología. Servicios: Casos de Estudio, Biblioteca, Hermoroteca,</p>
<a href="#">VER MAS...</a>





