<div id="carrera">
  <div id="title_bar">
    <div class="row">
      <div class="large-12 columns">
        <h2>Carrera Universitaria de Especialización en Diagnóstico por Imagnes con Modalidad de Residencia - UTN</h2>
      </div>
    </div>
  </div>

  <div id="sub_menu">
    <div class="row">
      <div class="large-12 columns">
        <dl class="sub-nav">
          <dd class="active"><a href="#">Objetivo</a></dd>
          <dd><a href="#">Requisitos</a></dd>
          <dd><a href="#">Duración</a></dd>
          <dd><a href="#">Programas</a></dd>
          <dd><a href="#">Jefatura</a></dd>
          <dd><a href="#">Cuerpo Docente</a></dd>
          <dd><a href="#">Becas</a></dd>
          <dd class="last"><a href="#">Contacto</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <article>
        <p>
          EI diagnostico por imágenes. que engloba al viejo Radiodiagnóstico con su avanzada alización que incluye las Técnicas Intervencionislas. Diagnostica y Terapéutica. juntamente con los nuevos métodos. Ecografía. Medicina Nuclear. Tomografía Computada y Resonancia Magnética. ha pasado a ser una nueva especialidad reconocida y valorada como  el todos los centros médicos mundiales. Para no sobreabundar. destacamos que el plan de estudios vigente en la Facultad de Medicina dela UNT.I ha sabido adecuarse a la realidad que plantea la existencia de esa nueva rame de la medicina. y Ia ha incorporado como materia curricular de pre-grado, repitiendo le experiencia de otros centros universitarios.
        </p>
        <p>
          EI intenso ritmo del crecimiento. la profundidad de los cambios que se producen y el permanente avance tecnológico. significan un acusado impacto que exige al médico imagenólogo no solamente una fomación teórica acorde al desarrollo dela especialidad. sino tambien. y fundamentalmente. una practica intensiva con el manejo de equipamiento actualizado el todas y cada una de sus diferentes areas.
        </p>
        <p>
          Por otro lado. es de importancia destacar que en el país sólo el 30% de los médicos que se reciben obtiene una plaza para continuar su formación y especializarse haciendo su residencia en hospitales` lo que ha motivado aparición de un Proyecto de Ley. que ya tiene aprobación en ia Cámara de Diputados de la Nación. en el que se prevé que en cada organismo asistencial público o privado. se constituya un comite' de docencia e investigación con la finalidad de suplir la faiencia señalada.
        </p>
      </article>
      <hr>
      <article>
        <h2>Trayectoria</h2>
        <p>
          EI diagnostico por imágenes. que engloba al viejo Radiodiagnóstico con su avanzada alización que incluye las Técnicas Intervencionislas. Diagnostica y Terapéutica. juntamente con los nuevos métodos. Ecografía. Medicina Nuclear. Tomografía Computada y Resonancia Magnética. ha pasado a ser una nueva especialidad reconocida y valorada como  el todos los centros médicos mundiales. Para no sobreabundar. destacamos que el plan de estudios vigente en la Facultad de Medicina dela UNT.I ha sabido adecuarse a la realidad que plantea la existencia de esa nueva rame de la medicina. y Ia ha incorporado como materia curricular de pre-grado, repitiendo le experiencia de otros centros universitarios.
        </p>
        <p>
          EI diagnostico por imágenes. que engloba al viejo Radiodiagnóstico con su avanzada alización que incluye las Técnicas Intervencionislas. Diagnostica y Terapéutica. juntamente con los nuevos métodos. Ecografía. Medicina Nuclear. Tomografía Computada y Resonancia Magnética. ha pasado a ser una nueva especialidad reconocida y valorada como  el todos los centros médicos mundiales. Para no sobreabundar. destacamos que el plan de estudios vigente en la Facultad de Medicina dela UNT.I ha sabido adecuarse a la realidad que plantea la existencia de esa nueva rame de la medicina. y Ia ha incorporado como materia curricular de pre-grado, repitiendo le experiencia de otros centros universitarios.
        </p>
      </article>
    </div>

    <div class="large-4 columns">
      <div class="info-panel">
        <div class="panel">
          <figure class="responsive"
            data-media="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-small.png"
            data-media768="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-medium.png"
            data-media960="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" title="Actividad">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" alt="Actividad">
            </noscript>
          </figure>
          <div class="description">
            <h3>Actividad Académica</h3>
            <h2>Pre-Inscripción</h2>
            <a class="link_button btn_orange" href="#">VER MÁS</a>
          </div>
        </div>
      </div>
      <div class="info-panel">
        <div class="panel panel-blue">
          <figure class="responsive"
            data-media="http://mc-cms-production.s3.amazonaws.com/carrera/icon-iso-small.png"
            data-media768="http://mc-cms-production.s3.amazonaws.com/carrera/icon-iso-medium.png"
            data-media960="http://mc-cms-production.s3.amazonaws.com/carrera/icon-iso-large.png" title="Calidad">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" alt="Calidad">
            </noscript>
          </figure>
          <div class="description">
            <h1>Certificación Sistema de Gestión de Calidad</h1>
            <a class="link_button" href="#">VER MÁS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
