<div class="slider">
  <div class="row">
      <ul class="data-orbit">
        <li data-orbit-slide="headline-1">
          <div class="large-8 columns">
            <figure class="responsive" 
              data-media="http://mc-cms-production.s3.amazonaws.com/empresa/slide01-small.png" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/slide01-medium.png" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/slide01-large.png" title="Servicios">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/empresa/slide01-large.png" alt="Servicios">
              </noscript>
            </figure>
          </div>
          <div class="large-4 columns">
            <div class="description">
              <h3>Nueva</h3>
              <h2>Tomografía<br />Multicorte</h2>
              <p>
                Invertimos en Alta Tecnología<br />para brindar mayor calidad y precisión<br />en diagnóstico por imagenes
              </p>
              <a class="link_button btn_orange" href="#">VER MÁS</a>
            </div>
          </div>
        </li>
        <li data-orbit-slide="headline-2">
          <div class="large-8 columns">
            <figure class="responsive" 
              data-media="http://mc-cms-production.s3.amazonaws.com/empresa/slide02-small.png" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/slide02-medium.png" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/slide02-large.png" title="Servicios">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/empresa/slide02-large.png" alt="Servicios">
              </noscript>
            </figure>
          </div>
          <div class="large-4 columns">
            <div class="description">
              <h3>Nueva</h3>
              <h2>Tomografía<br />Multicorte</h2>
              <p>
                Invertimos en Alta Tecnología<br />para brindar mayor calidad y precisión<br />en diagnóstico por imagenes
              </p>
              <a class="link_button btn_orange" href="#">VER MÁS</a>
            </div>
          </div>
        </li>
        <li data-orbit-slide="headline-3">
          <div class="large-8 columns">
            <figure class="responsive" 
              data-media="http://mc-cms-production.s3.amazonaws.com/empresa/slide03-small.png" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/slide03-medium.png" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/slide03-large.png" title="Servicios">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/empresa/slide03-large.png" alt="Servicios">
              </noscript>
            </figure>
          </div>
          <div class="large-4 columns">
            <div class="description">
              <h3>Nueva</h3>
              <h2>Tomografía<br />Multicorte</h2>
              <p>
                Invertimos en Alta Tecnología<br />para brindar mayor calidad y precisión<br />en diagnóstico por imagenes
              </p>
              <a class="link_button btn_orange" href="#">VER MÁS</a>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <section id="main">
      <article>
        <h2>Bienvenidos a Mendez Collado,</h2>
        <h3>el centro de diagnostico por imágenes pionero en Tucumán.</h3>
        <p>
          Nace y crece brindando personalizada atención al público, con trabajos de verdadera calidad, Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industry's standard dummy text ever since the 1500s, when an standard la especialidad.
        </p>
        <a class="link_button" href="#">VER MÁS</a>
      </article>
      <section id="related">
        <div class="row">
          <div class="large-12 columns"><h2>ARTICULOS RELACIONADOS</h2>
          </div>
        </div>
        <div class="row first">
          <div class="large-6 columns">
            <article>
              <h3>Certificamos ISO 9001:2000</h3>
              <div class="description">
                <figure class="responsive" 
                  data-media="http://mc-cms-production.s3.amazonaws.com/empresa/article1-small.jpg" 
                  data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/article1-medium.jpg" 
                  data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/article1-large.jpg" title="Servicios">
                  <noscript>
                    <img src="http://mc-cms-production.s3.amazonaws.com/empresa/article1-large.jpg" alt="Servicios">
                  </noscript>
                </figure>
                <p>El centro Radiológico Luis Méndez Collado obtuvo la Certificación</p>
                <a href="#">VER MAS...</a>
              </div>
            </article>
          </div>
          <div class="large-6 columns">
            <article>
              <h3>Prevención del cancer de mama</h3>

              <div class="description">
                <figure class="responsive" 
                  data-media="http://mc-cms-production.s3.amazonaws.com/empresa/article2-small.jpg" 
                  data-media768="http://mc-cms-production.s3.amazonaws.com/empresa/article2-medium.jpg" 
                  data-media960="http://mc-cms-production.s3.amazonaws.com/empresa/article2-large.jpg" title="Servicios">
                  <noscript>
                    <img src="http://mc-cms-production.s3.amazonaws.com/empresa/article2-large.jpg" alt="Servicios">
                  </noscript>
                </figure>
                <p>El Sanatorio Rivadavia esta promoviendo su nuevo sitio en Internet</p>
                <a href="#">VER MAS...</a>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <article>
              <h3>Especialización en Diagnóstico</h3>

              <div class="description">
                <p>El centro Radiológico Luis Méndez Collado celebra la transformación de su residencia en Carrera Universitaria</p>
                <a href="#">VER MAS...</a>
              </div>
            </article>
          </div>

          <div class="large-6 columns">
            <article>
              <h3>Sociedad Argentina de Radiología</h3>
              <div class="description">
                <p>Visite el sitio Web de la Sociedad Argentina de Radiología. Servicios: Casos de Estudio, Biblioteca, Hermoroteca,</p>
                <a href="#">VER MAS...</a>
              </div>
            </article>
          </div>
        </div>
      </section>
    </section>
  </div>

  <div class="large-4 columns">
    <div id="services-box">
      <h2>Servicios</h2>
      <ul class="side-nav">
        <li id="first"><a href="#">Ecodoper Color</a></li>
        <li><a href="#">Ecografía 4D</a></li>
        <li><a href="#">Ecografía General</a></li>
        <li><a href="#">Mamografía Digital</a></li>
        <li><a href="#">Medicina Nuclear</a></li>
        <li><a href="#">Radiología Digital</a></li>
        <li><a href="#">Resonancia Magnética</a></li>
        <li><a href="#">Tomografía Multicorte</a></li>
      </ul>
    </div>

    <div id="info-panel">
      <div class="panel">
        <img src="http://mc-cms-production.s3.amazonaws.com/empresa/image-info-panel.png" />
        <h2>Actividades Académicas</h2>
        <p>Carrera Universitaria de Especialización en Diagnóstico por Imágenes - UNT</p>
        <a class="link_button" href="#">VER MÁS</a>
      </div>
    </div>
  </div>
</div>