<div id="carrera">
  <div id="title_bar" class="widthout_submenu">
    <div class="row">
      <div class="large-12 columns">
        <p>Nueva</p>
        <h2>Méndez Collado, Historia</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <article>
        <p>
          El Centro Radiológica inicia su trabajo en el diagnóstico médico por imágenes en el mes de Abril de 1989, integrándose rápidamente al ambiente científico, asistencial y docente de la provincia y de la región NOA. 
        </p>
        <p>
          Nace y crece brindando personalizada atención al público, con trabajos de verdadera calidad, técnica y acertada interpretación profesional, por lo que su presencia se impone veloz y firmemente, haciéndole merecer, al presente, una respetuosa consideración dentro de la especialidad.
        </p>
        <p>
          Limitada su tarea a las prestaciones de radiologia convencional, desde Abril de 1991 las mismas se amplían por la habilitación del Departamento de Ecografía, incorporando un equipo nuevo. de origen japonés el SAL 38 D de TOSHIBA. que pennite el trabajo en ecografía general y Doppler.
        </p>
        <p>
          Desde el mes de Mayo de 1992 se crea el Departamento de Tomografía Computada, al que se dota de un moderno equipo TOSHIBA T.C.T. 500S, de última generación que, con cortos tiempos de barrido, permite imágenes de extraordinaïia resolución y altísima precisión.
        </p>
        <p>
          Desde el mes de setiembre del pasado 1999, la entrada en funcionamiento un nuevo paquete de prestaciones especiales, con el Departamento de Densitometria Osea al que se le ha previsto de un equipamiento que no desentona con la calidad del resto de la dotación instrumental del Centro Radiológico.
        </p>
      </article>
      <hr>
      <article>
        <h2>Quienes somos</h2>
        <P>
          Emplazado en céntrica ubicación, de rápido acceso a través de calles de circulación preferencial, se encuentra comunicado fluidamente con el exterior a través de seis lineas telefónicas rotativas unificadas al N°(0381) 421-7000, en PBX. disponiendo delinea directa para la conexión de Fax, el N° (0381) 430-­2134.
        </P>

        <P>
          Toda la planta está organizada como una red, en uno de cuyos extremos están la recepción principal y las dos accesorias, y permite la circulación del público así como la confortable espera para la atención y control de los resultados; el otro extremo marca la circulación técnica de personal, medicos y pacientes en camilla. Ambos extremos están comunicados entre si a través de las salas de estudio y las recepciones.
        </P>
        <p>
          Cada Sala de examen está preparada, en su volumen y su protección, de acuerdo al tipo de equipo al que fue destinada; todas ellas tienen doble ingreso para el paciente, deforma que cada uno de ellos es un pequeño vestuario con lo que agiliza enormemente el trabajo específico. Esta dotada de aire acondicionado central, debidamente seclorizado y con refuerzos en me sectores más criticos. Se ha realizado la instalación de cañeria central para la distrihución de oxigeno y vacuo aspiración a las diferentes salas de estudio y de recuperación. 
          Planificada para la realización de la totalidad de las prestaciones de la especialidad, del presente y del futuro, ha previsto su crecimiento en altura, y su comunicación por medio de un ascensor, un montacargas y tres escaleras.
        </p>
      </article>
    </div>

    <div class="large-4 columns">
      <div class="info-panel">
        <div class="panel">
          <figure class="responsive" 
            data-media="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-small.png" 
            data-media768="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-medium.png" 
            data-media960="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-large.png" title="Servicios">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-large.png" alt="Servicios">
            </noscript>
          </figure>
          <div class="description">
            <h3>IN MEMORIAN</h3>
            <h2>Prof. Dr. Luis Méndez Collado</h2>
            <a class="link_button" href="#">VER MÁS</a>
          </div>
        </div>
      </div>
      <div class="info-panel">
        <div class="panel panel-blue">
          <figure class="responsive" 
            data-media="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-2-small.png" 
            data-media768="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-2-medium.png" 
            data-media960="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-2-large.png" title="Servicios">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-2-large.png" alt="Servicios">
            </noscript>
          </figure>
          <div class="description">
            <h1>Certificación Sistemas de Gestión de Calidad</h1>
            <a class="link_button" href="#">VER MÁS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>