<div id="servicios">
  <div id="title_bar" class="widthout_submenu">
    <div class="row">
      <div class="large-12 columns">
        <p>Invertimos en alta tecnología para mayor calidad y precisión en diagnósticos por imágenes</p>
        <h2>Nuevos Servicios</h2>
      </div>
    </div>
  </div>
  <div class="row main">
    <div class="large-4 columns">
      <div class="box-main-service">
        <div class="main-services">
          <figure class="responsive" 
            data-media="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-01-small.png" 
            data-media768="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-01-medium.png" 
            data-media960="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-01-large.png" title="Servicios">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-01-large.png" alt="Servicios">
            </noscript>
          </figure>
          <div class="flag-new"></div>
        </div>
        <h2>Tomografía Multicorte</h2>
        <p>
          El diseño de este tomògrafo de 16 cortes 
          maximiza tanto el confort del paciente como 
          del operador, permitiéndole a este último 
          focalizarse.
        </p>
        <a href="#" class="link_button btn_orange">VER MÁS</a>
        <div class="shadow"></div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="box-main-service">
        <div class="main-services">
          <figure class="responsive" 
            data-media="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-02-small.png" 
            data-media768="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-02-medium.png" 
            data-media960="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-02-large.png" title="Servicios">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-02-large.png" alt="Servicios">
            </noscript>
          </figure>
          <div class="flag-new"></div>
        </div>
        <h2>Resonador de Alto Campo</h2>
        <p>
          El diseño de este tomògrafo de 16 cortes 
          maximiza tanto el confort del paciente como 
          del operador, permitiéndole a este último 
          focalizarse.
        </p>
        <a href="#" class="link_button btn_orange">VER MÁS</a>
        <div class="shadow"></div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="box-main-service">
        <div class="main-services">
          <figure class="responsive" 
            data-media="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-03-small.png" 
            data-media768="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-03-medium.png" 
            data-media960="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-03-large.png" title="Servicios">
            <noscript>
              <img src="http://mc-cms-production.s3.amazonaws.com/servicios/main-service-03-large.png" alt="Servicios">
            </noscript>
          </figure>
          <div class="flag-new"></div>
        </div>
        <h2>Tomografía Multicorte</h2>
        <p>
          El diseño de este tomògrafo de 16 cortes 
          maximiza tanto el confort del paciente como 
          del operador, permitiéndole a este último 
          focalizarse.
        </p>
        <a href="#" class="link_button btn_orange">VER MÁS</a>
        <div class="shadow"></div>
      </div>
    </div>
  </div>
  <div class="row secondary">
    <div class="large-4 columns">
      <div class="image">
        <figure class="responsive" 
          data-media="http://mc-cms-production.s3.amazonaws.com/servicios/service-small.png" 
          data-media768="http://mc-cms-production.s3.amazonaws.com/servicios/service-medium.png" 
          data-media960="http://mc-cms-production.s3.amazonaws.com/servicios/service-large.png" title="Servicios">
          <noscript>
            <img src="http://mc-cms-production.s3.amazonaws.com/servicios/service-large.png" alt="Servicios">
          </noscript>
        </figure>
        <div class="description">
          <h2>Servicio Convencional</h2>
          <a href="#" class="link_button">VER MÁS</a>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="image">
        <figure class="responsive" 
          data-media="http://mc-cms-production.s3.amazonaws.com/servicios/service-small.png" 
          data-media768="http://mc-cms-production.s3.amazonaws.com/servicios/service-medium.png" 
          data-media960="http://mc-cms-production.s3.amazonaws.com/servicios/service-large.png" title="Servicios">
          <noscript>
            <img src="http://mc-cms-production.s3.amazonaws.com/servicios/service-large.png" alt="Servicios">
          </noscript>
        </figure>
        <div class="description">
          <h2>Alta Complejidad</h2>
          <a href="#" class="link_button">VER MÁS</a>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="image">
        <figure class="responsive" 
          data-media="http://mc-cms-production.s3.amazonaws.com/servicios/service-small.png" 
          data-media768="http://mc-cms-production.s3.amazonaws.com/servicios/service-medium.png" 
          data-media960="http://mc-cms-production.s3.amazonaws.com/servicios/service-large.png" title="Servicios">
          <noscript>
            <img src="http://mc-cms-production.s3.amazonaws.com/servicios/service-large.png" alt="Servicios">
          </noscript>
        </figure>
        <div class="description">
          <h2>Nuclear</h2>
          <a href="#" class="link_button">VER MÁS</a>
        </div>
      </div>
    </div>
  </div>
</div>