<div id="servicios">
  <div id="title_bar">
    <div class="row">
      <div class="large-12 columns">
        <p>Invertimos en alta tecnología para mayor calidad y precisión en diagnósticos por imágenes</p>
        <h2>Nuevos Servicios</h2>
      </div>
    </div>
  </div>
  <div class="row main">
    <div class="large-4 columns">
      <figure class="responsive" data-media="assets/images/small.png" data-media768="assets/images/medium.png" data-media960="assets/images/large.png" title="A Half Brained Idea">
          <noscript>
              <img src="assets/images/large.png" alt="A Half Brained Idea">
          </noscript>
      </figure>
        <div class="flag-new"></div>
      <h2>Tomografía Multicorte</h2>
      <p>
        El diseño de este tomògrafo de 16 cortes 
        maximiza tanto el confort del paciente como 
        del operador, permitiéndole a este último 
        focalizarse.
      </p>
      <a href="#" class="link_button btn_orange">VER MÁS</a>
      <div class="shadow"></div>
    </div>
    <div class="large-4 columns">
      <figure class="responsive" data-media="assets/images/small.png" data-media768="assets/images/medium.png" data-media960="assets/images/large.png" title="A Half Brained Idea">
          <noscript>
              <img src="assets/images/large.png" alt="A Half Brained Idea">
          </noscript>
      </figure>
        <div class="flag-new"></div>
      <h2>Resonador de Alto Campo</h2>
      <p>
        El diseño de este tomògrafo de 16 cortes 
        maximiza tanto el confort del paciente como 
        del operador, permitiéndole a este último 
        focalizarse.
      </p>
      <a href="#" class="link_button btn_orange">VER MÁS</a>
      <div class="shadow"></div>
    </div>
    <div class="large-4 columns">
      <figure class="responsive" data-media="assets/images/small.png" data-media768="assets/images/medium.png" data-media960="assets/images/large.png" title="A Half Brained Idea">
          <noscript>
              <img src="assets/images/large.png" alt="A Half Brained Idea">
          </noscript>
      </figure>
        <div class="flag-new"></div>
      <h2>Tomografía Multicorte</h2>
      <p>
        El diseño de este tomògrafo de 16 cortes 
        maximiza tanto el confort del paciente como 
        del operador, permitiéndole a este último 
        focalizarse.
      </p>
      <a href="#" class="link_button btn_orange">VER MÁS</a>
      <div class="shadow"></div>
    </div>
  <div class="row secondary">
    <div class="large-4 columns">
      <div class="image">
        <div class="description">
          <h2>Servicio Convencional</h2>
          <a href="#" class="link_button">VER MÁS</a>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="image">
        <div class="description">
          <h2>Alta Complejidad</h2>
          <a href="#" class="link_button">VER MÁS</a>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="image">
        <div class="description">
          <h2>Nuclear</h2>
          <a href="#" class="link_button">VER MÁS</a>
        </div>
      </div>
    </div>
  </div>
</div>