<div id="staff">
  <div id="title_bar">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="news-less">Nuevos Médicos</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <ul>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
        <li>
          <div class="staff-box">
            <figure class="responsive"
              data-media="http://mc-cms-production.s3.amazonaws.com/staff/doctor-small.jpg" 
              data-media768="http://mc-cms-production.s3.amazonaws.com/staff/doctor-medium.jpg" 
              data-media960="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" title="Staff">
              <noscript>
                <img src="http://mc-cms-production.s3.amazonaws.com/staff/doctor-large.jpg" alt="Staff">
              </noscript>
            </figure>
            <div class="info">Dr. Sergio Chain</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>